@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
  @import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');


html,
body {
    font-family: 'Rubik' ;
    -webkit-font-smoothing: antialiased;
}

table {
  font-family: 'Rubik' ;
    width: 100%;
}
